<%- include ('../header.ejs') -%>

    <%- include ('./sidebar.ejs') -%>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%=product.product_name%>
            </div>
            <div class="panel-body">
                <div>
                    작성일 : <%=product.created_at%>
                </div>
                <% if(product.product_name){%>
                <div>

                </div>
                <% } %>

                <div>
                    가격 : <%=product.product_price%>원
                </div>

                <div>
                    설명 : <%-product.product_detail%>
                </div>
                <hr>
                <!-- 댓글영역  -->
                <div id="comment_area">
                    <% comments.forEach( function(comment){ %>
                        <div>
                            <%=comment.content%>  <a href="/admin/comment/delete/<%=comment.comments_id%>" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
                            <hr>
                        </div>
                    <%});%>
                </div>
                <div>
                    댓글작성하기
                    <form id="commentForm" action="" method="post">
                        <input type="hidden" name="product_id" value="<%=product.id%>" />
                        <textarea class="form-control" name="content"></textarea>
                        <button class="btn btn-primary" style="margin-top: 10px">댓글작성</button>
                    </form>
                </div>
                <!-- 댓글영역  -->
            </div>
        </div>

        <a href="/admin/products" class="btn btn-default">목록으로</a>
        <a href="/admin/products/edit/<%=product.product_id%>" class="btn btn-primary">수정</a>
    </div>
