<%- include ('../header.ejs') -%>
    <h3 class="page-header">배송지페이지</h3>
    <form role="form" action="" id=""method="post">
                
      <h3 class="text-center">받는사람정보</h3>
      <table class="table table-bordered table-hover" style="max-width:500px; margin:0 auto;">
          <tbody>
              <tr>
                  <th>받는사람</th>
                  <td>
                      <input type="text" name="name" class="form-control" value="<%=address.name%>" required=""/>
                  </td>
              </tr>
              <tr>
                  <th>연락쳐</th>
                  <td>
                      <input type="text" name="tel" class="form-control"  placeholder="010-0000-0000" value="<%=address.tel%>"required="" />
                  </td>
              </tr>
              <tr>
                  <th>주소</th>
                  <td>
                      <input type="text" name="address" class="form-control" readonly value="<%=address.address%>" required=""/>
                  </td>
              </tr>
              <tr>
                  <th>상세주소</th>
                  <td>
                      <input type="text" name="address_detail" class="form-control"value="<%=address.address_detail%>" required=""/>
                  </td>
              </tr>
              <tr>
                  <th>우편번호</th>
                  <td>
                      <input type="text" name="zipcode" class="form-control" placeholder="00000" readonly value="<%=address.zipcode%>"required="" />
                      <span style="margin-top:10px" class="btn btn-primary" onclick="setDaumPostcode()">우편번호 찾기</span>
                  </td>
              </tr>
              <tr>
                  <th>요청사항</th>
                  <td>
                      <input type="text" name="req" class="form-control"  placeholder=""value="<%=address.req%>" />
                  </td>
              </tr>
            
          </tbody>   
      </table>
        <input type="submit" value="저장">
                       
     </form>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function setDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수
                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
    
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }
    
                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                     if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    //주소와 참고항목을 같은줄에 표시하여 최종 주소를 만든다.
                    addr += extraAddr;
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                $('input[name=zipcode]').val(data.zonecode);
                $('input[name=address]').val(addr);
                
                // 커서를 상세주소 필드로 이동한다.
                $('input[name=address_detail]').focus();
            }
        }).open();
    }
</script>